@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Public Sans', sans-serif;
}

:root {
  --slightly-desaturated-cyan: hsl(167°, 36%, 54%);
  --dark-blue-color: hsl(205°, 41%, 21%);
  --grayish-dark-blue:  hsl(245°, 10%, 22%);
  --very-light-grey: hsl(0°, 0%, 98%);
  --light-grey:  hsl(240°, 2%, 92%);
  --bright-red-error: hsl(0°, 90%, 57%);
  --body-text: 'Public Sans', sans-serif;
  --headings-text:  'Ibarra Real Nova', serif;
}

.header {
  max-width: 85%;
  margin: 3rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: relative;
  z-index: 99;
}

@media only screen and (min-width: 27em) {
  .header {
    max-width: 75%;
  }
}

.header__nav-mobile {
  position: relative;
}

@media only screen and (min-width: 27em) {
  .header__nav-mobile {
    display: none;
  }
}

@media only screen and (min-width: 27em) {
  .header__nav-hamburger {
    display: none;
  }
}

.header__nav-mobile-items {
  position: absolute;
  right: 100%;
  color: white;
  background: #20394c;
  font-size: 1.6rem;
  height: 18.6rem;
  width: 22.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.header__nav-mobile-items li {
  list-style: none;
  cursor: pointer;
}

.header__nav-mobile-items li a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 27em) {
  .header__nav-mobile-items {
    display: none;
  }
}

.header__nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-desktop li {
  list-style: none;
  margin-right: 3rem;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.4rem;
}

.header__nav-desktop li:hover {
  color: #5fb4a2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header__nav-desktop li a {
  text-decoration: none;
  color: #20394c;
}

@media only screen and (max-width: 27em) {
  .header__nav-desktop {
    display: none;
  }
}

.home {
  max-width: 85%;
  margin: 3rem auto 0 auto;
  font-family: var(--body-text);
}

@media only screen and (min-width: 27em) {
  .home {
    max-width: 75%;
  }
}

.home__hero {
  max-width: 100%;
  position: relative;
  z-index: 5;
  height: auto;
}

@media only screen and (min-width: 27em) {
  .home__section-1-cta {
    position: relative;
    height: 25.7rem;
    z-index: 10;
    bottom: 25rem;
    background: white;
    max-width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: -20rem;
  }
}

.home__section-1-cta-text {
  font-family: var(--headings-text);
  line-height: 1.5;
  font-size: 3rem;
  color: #20394c;
  max-width: 100%;
  background: white;
}

@media only screen and (min-width: 27em) {
  .home__section-1-cta-text {
    max-width: 80%;
    font-size: clamp(2rem, 3vw, 3.5rem);
    word-wrap: break-word;
  }
}

.home__button {
  height: 4.1rem;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.home__button-arrow {
  position: relative;
  background: #33323e;
  height: 4.1rem;
  width: 4.1rem;
}

.home__button-arrow g {
  -webkit-transform: translate(30%, 30%);
          transform: translate(30%, 30%);
}

.home__button-btn {
  padding: 1rem;
  height: 4.1rem;
  border: none;
  background: #20394c;
  color: white;
}

.home__button-btn a {
  color: white;
  text-decoration: none;
}

.home__section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9rem;
}

@media only screen and (min-width: 27em) {
  .home__section-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.home__section-2-img {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 100%;
}

@media only screen and (min-width: 27em) {
  .home__section-2-img {
    width: 40%;
  }
}

.home__section-2-about {
  -ms-flex-preferred-size: 2;
      flex-basis: 2;
  width: 100%;
  padding: 2rem 0;
}

@media only screen and (min-width: 27em) {
  .home__section-2-about {
    margin-left: 5rem;
  }
}

.home__section-2-title {
  font-size: clamp(2rem, 3vw, 3.5rem);
  font-family: var(--headings-text);
  color: #20394c;
}

.home__section-2-info {
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  margin: 2rem 0;
  width: 100%;
  color: #20394c;
}

@media only screen and (min-width: 27em) {
  .home__section-2-info {
    width: 70%;
  }
}

.home__section-2-cta {
  width: 20.2rem;
  height: 4.8rem;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  color: #20394c;
  border: 1px solid #20394c;
  cursor: pointer;
}

.home__section-2-cta a {
  text-decoration: none;
  color: #33323e;
}

.home__section-2-cta :hover {
  border: 4px solid #20394c;
}

.contact-cta {
  max-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8rem auto 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-cta a {
  text-decoration: none;
  color: #20394c;
}

@media only screen and (min-width: 27em) {
  .contact-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-cta__title {
  font-size: clamp(2rem, 3vw, 3.5rem);
  font-family: var(--headings-text);
  color: #20394c;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 27em) {
  .contact-cta__title {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 40%;
    text-align: start;
    margin-bottom: 0;
  }
}

.contact-cta__btn {
  width: 20.2rem;
  height: 4.8rem;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  border: 1px solid #20394c;
  cursor: pointer;
}

.contact-cta__btn:hover {
  border: 4px solid #20394c;
}

@media only screen and (min-width: 27em) {
  .contact-cta__btn {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 40%;
  }
}

.contact-cta::before {
  content: "";
  border-top: 1px #20394c solid;
  position: absolute;
  width: 30%;
  left: 20vw;
}

@media only screen and (max-width: 27em) {
  .contact-cta::before {
    display: none;
  }
}

.footer {
  max-width: 100%;
  width: 100%;
  margin: 5rem 0 0 0;
  background: #20394c;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer li {
  list-style: none;
}

@media only screen and (min-width: 27em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 8rem;
  }
}

.footer__logo {
  margin-top: 2rem;
  margin-left: 1rem;
}

.footer__logo path {
  fill: white;
}

.footer__links {
  font-size: 2rem;
  text-align: center;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 27em) {
  .footer__links {
    font-size: 1.3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__links-item {
  margin-top: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 27em) {
  .footer__links-item {
    margin-right: 2rem;
  }
}

.footer__socials {
  font-size: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 27em) {
  .footer__socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__socials-item {
  margin-top: 1rem;
  cursor: pointer;
}

.footer__socials-item a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 27em) {
  .footer__socials-item {
    margin-right: 1rem;
  }
}

.project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9rem auto 0 auto;
  max-width: 90%;
}

@media only screen and (min-width: 27em) {
  .project-preview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1rem auto 0 auto;
  }
}

.project-preview__img {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 90%;
}

@media only screen and (min-width: 27em) {
  .project-preview__img {
    width: 50%;
    margin: 9rem 0;
  }
}

.project-preview__text {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  border-top: 1px solid #33323e;
}

@media only screen and (min-width: 27em) {
  .project-preview__text {
    width: 70%;
    margin: 0  5rem;
  }
}

.project-preview__title {
  font-size: 4rem;
  color: #20394c;
  font-family: var(--headings-text);
}

@media only screen and (min-width: 27em) {
  .project-preview__title {
    font-size: clamp(1.6rem, 3vw, 4rem);
  }
}

.project-preview__info {
  font-family: var(--body-text);
  color: #33323e;
  margin: 2rem 0;
  font-size: 1.4rem;
}

@media only screen and (min-width: 27em) {
  .project-preview__info {
    width: 50%;
    font-size: clamp(1.6rem, 2vw, 2.2rem);
    width: 100%;
  }
}

.project-preview__btn {
  overflow: hidden;
  height: 4.8rem;
  width: 17.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.project-preview__btn:hover {
  color: #33323e;
}

@media only screen and (min-width: 27em) {
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.project-detail {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (min-width: 27em) {
  .project-detail {
    width: 65%;
  }
}

.project-detail__hero {
  width: 100%;
  height: auto;
  margin: 5rem auto 5rem auto;
}

.project-detail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-detail__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

@media only screen and (min-width: 27em) {
  .project-detail__cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 24rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.project-detail__cta-1 {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-detail__cta-name {
  font-size: 2.4rem;
  font-family: var(--headings-text);
  color: #20394c;
  margin: 1rem auto 1rem 0;
}

.project-detail__cta-info {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 100%;
  font-size: 1.5rem;
  margin: 1rem;
}

@media only screen and (min-width: 27em) {
  .project-detail__cta-info {
    width: 90%;
  }
}

.project-detail__cta-tech {
  color: #6fdd6f;
  font-size: 1.5rem;
}

.project-detail__cta-objective {
  color: #74df74;
  margin: 2rem 0;
  font-size: 1.5rem;
}

.project-detail__cta-btn {
  overflow: hidden;
  height: 4.8rem;
  width: 17.8rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: white;
  border: 1px solid black;
  cursor: pointer;
  margin: 2rem 0;
}

.project-detail__cta-btn:hover {
  background: #eaeaeb;
}

.project-detail__cta-btn a {
  text-decoration: none;
  color: #20394c;
  overflow: hidden;
}

@media only screen and (min-width: 27em) {
  .project-detail__cta-btn {
    margin: 2rem 0 2rem 0;
  }
}

.project-detail__info {
  max-width: 90%;
  margin: 3rem auto;
}

.project-detail__info-title {
  font-size: 2.4rem;
  font-family: var(--headings-text);
  color: #20394c;
  margin: 1rem;
}

.project-detail__info-background {
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  width: 100%;
  font-size: 1.5rem;
  margin: 1rem;
}

@media only screen and (min-width: 27em) {
  .project-detail__info-background {
    width: 90%;
  }
}

.project-detail__info-static {
  font-size: 2.4rem;
  font-family: var(--headings-text);
  color: #20394c;
  margin: 2rem auto 2rem auto;
}

.project-detail__info-gif {
  max-width: 100%;
}

.contact {
  width: 90%;
  margin: 5rem auto 0 auto;
}

.contact__title {
  font-size: 2rem;
  color: #20394c;
  font-family: var(--headings-text);
  margin: 1rem auto;
  width: 100%;
}

@media only screen and (min-width: 27em) {
  .contact__title {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 100%;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 27em) {
  .contact__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 90%;
    margin: 0 auto;
  }
}

.contact__get-in-touch {
  font-family: var(--body-text);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1rem auto;
}

@media only screen and (min-width: 27em) {
  .contact__get-in-touch {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 100%;
  }
}

.contact__info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact__info-links li {
  list-style: none;
  margin-top: 1rem;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 2.5rem;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 27em) {
  .contact__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 27em) {
  .contact__title {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 100%;
  }
}

.contact__inputs {
  width: 100%;
}

@media only screen and (min-width: 27em) {
  .contact__inputs {
    -ms-flex-preferred-size: 1;
        flex-basis: 1;
    width: 100%;
  }
}

.contact__inputs-container {
  width: 100%;
  margin: 2rem 0;
}

.contact__form-title {
  width: 100%;
  font-size: 1.5rem;
  color: #20394c;
  font-weight: bold;
}

.contact__form-input {
  width: 100%;
  height: 4rem;
  background: #eaeaeb;
  font-size: 1.5rem;
  border: none;
  padding: 1.5rem .5rem;
}

.contact__form-input:focus {
  outline: none;
}

.contact__form-input2 {
  width: 100%;
  height: 10rem;
  background: #eaeaeb;
  font-size: 1.5rem;
  border: none;
  resize: none;
  padding: 1.5rem .5rem;
}

.contact__form-input2:focus {
  outline: none;
}

.contact__form-btn {
  height: 4.8rem;
  width: 12rem;
  background: #20394c;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.contact__form-error {
  border: 1px solid red;
}

.contact__form-error-text {
  color: red;
}

.hide {
  display: none;
}
/*# sourceMappingURL=App.css.map */